*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F2DE;
    height: 100vh;}

#main {
    width: 1000px;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 7px solid black;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
}

svg {
    align-self: center;
}

div.tooltip {
    position: absolute;
    padding: 0.7rem;
    font-size: 0.9rem;
    background: rgba(255, 255, 204, 0.9);
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
    border: none;
    border-radius: 0.2rem;
    pointer-events: none;
}

#title {
    font-size: 3rem;
}

#description {
    margin: 20px 0;
    text-align: center;
    font-size: 1.3rem;
}

#source {
    align-self: flex-end;
    margin-top: 1rem;
    padding: 0.4rem;
}

a {
    text-decoration: none;
}

.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
