*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-size: 16px;
}
body {
    text-align: center;
}

section {
    width: auto;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
}

.d3-tip {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    color: white;
    text-align: center;
    padding: 0.5em;
  }

  .tick {
    font-size: 0.8rem;
  }
