html {
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font: 0.8rem sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #F4F2DE;
    /* display: flex; */
    margin-top: 40px;
}

div.tooltip {
    background: rgb(176, 194, 215);
    position: absolute;
    padding: 1rem;
    border: 0.1rem;
    border-radius: 0.5rem;
    pointer-events: none;
    /* font-weight: 600; */
    box-shadow: 2px 2px 3px rgb(0, 0, 0,0.5);
}

svg {
    border-radius: 10px;
    border: 7px solid black;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
}

.graph {
    display: block;
    margin: auto;
    background-color: white;
}

.dot {
    stroke: #000;
    opacity: 0.8;
  }

#legend {
    font-size: 1rem;
}

.tick{
    font-size: 0.8rem;
}