html {
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font: 0.8rem sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(236, 236, 235);
    /* display: flex; */
}

div.tooltip {
    background: rgb(163, 182, 206);
    position: absolute;
    padding: 1rem;
    border: 0.1rem;
    border-radius: 0.5rem;
    pointer-events: none;
}
